<a href="https://colab.research.google.com/github/Jonathan-Hughes1524/food-sales-prediction/blob/main/Sales_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/Coding Dojo/01 Week 1: Python/sales_predictions (1).csv'
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
df.duplicated().sum()

0

In [6]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

For the Item_Weight I chose to take the average weight of the items. I felt with the data that was already known this would give a good data to fill the missing. I did not want to drop this data becasue shipping costs would affect the price of the product. Which in turn could affect the sales of the product.
I also chose do the average for the store size. The size of the store could impact the amount sold. I felt going with the average size for stores would be a good data point because it would be a good estimate for a store size without any other data.

In [9]:
item_weight_mean = df['Item_Weight'].mean()
df['Item_Weight'].fillna(item_weight_mean, inplace = True)
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
df['Outlet_Size'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object>

# For the coding to allow me to be able to do the mean I had to go in and change the objects to an integer. I made the small 1 and work in ascending order to high numerically.

In [15]:
df['Outlet_Size'] = df['Outlet_Size'].replace('Small', 1)
df['Outlet_Size'] = df['Outlet_Size'].replace('Medium', 2)
df['Outlet_Size'] = df['Outlet_Size'].replace('High', 3)
df['Outlet_Size'].value_counts()

2.0    2793
1.0    2388
3.0     932
Name: Outlet_Size, dtype: int64

In [16]:
outlet_size_mean = df['Outlet_Size'].mean()
df['Outlet_Size'].fillna(outlet_size_mean, inplace = True)
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [7]:
df.value_counts()

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type     Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
DRA12            11.600       LF                0.000000         Soft Drinks   141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
FDV35            19.500       Low Fat           0.128182         Breads        156.1314  OUT035             2004                       Small        Tier 2                Supermarket Type1  2792.3652            1
FDV25            5.905        low fat           0.045614         Canned        221.5456  OUT013             1987                       High         Tier 3                Supermarket Type1  6852.4136            1
                              Low Fat           0.045838         Canned        222.5456  OUT018             2009                       Medium       Tier 3                Supermarket Type2  3315.6840            1
                                                0.045723         Canned        222.1456  OUT049             1999                       Medium       Tier 1                Supermarket Type1  5747.1856            1
                                                                                                                                                                                                                 ..
FDJ16            9.195        Low Fat           0.115064         Frozen Foods  58.6246   OUT049             1999                       Medium       Tier 1                Supermarket Type1  868.8690             1
                                                0.114886         Frozen Foods  59.6246   OUT046             1997                       Small        Tier 1                Supermarket Type1  1100.5674            1
                              LF                0.114864         Frozen Foods  59.0246   OUT035             2004                       Small        Tier 2                Supermarket Type1  1853.5872            1
FDJ15            11.350       Regular           0.023359         Dairy         184.4608  OUT049             1999                       Medium       Tier 1                Supermarket Type1  4042.7376            1
NCZ54            14.650       Low Fat           0.083699         Household     163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
Length: 4650, dtype: int64

In [12]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   float64
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 799.2+ KB

In [24]:
df.groupby(['Item_Weight', 'Item_Visibility','Item_MRP','Outlet_Establishment_Year','Outlet_Size','Item_Outlet_Sales']).min()
df.groupby(['Item_Weight', 'Item_Visibility','Item_MRP','Outlet_Establishment_Year','Outlet_Size','Item_Outlet_Sales']).max()
df.groupby(['Item_Weight', 'Item_Visibility','Item_MRP','Outlet_Establishment_Year','Outlet_Size','Item_Outlet_Sales']).mean()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: []
Index: [(4.555, 0.034328578, 110.1544, 1987, 3.0, 1230.3984), (4.555, 0.034350673, 112.7544, 2004, 1.0, 1789.6704), (4.555, 0.034357169, 112.6544, 1997, 1.0, 2684.5056), (4.555, 0.034410585, 111.3544, 1999, 2.0, 1342.2528), (4.59, 0.0, 111.186, 2002, 1.7618190741043678, 1245.046), (4.59, 0.070721656, 113.286, 1987, 3.0, 1471.418), (4.59, 0.070767174, 111.986, 2004, 1.0, 792.302), (4.59, 0.070780558, 114.586, 1997, 1.0, 1245.046), (4.59, 0.070890602, 111.686, 1999, 2.0, 1584.604), (4.61, 0.0, 173.8396, 1997, 1.0, 1221.0772), (4.61, 0.122629121, 175.4396, 2004, 1.0, 2616.594), (4.61, 0.122843005, 172.4396, 1999, 2.0, 1569.9564), (4.61, 0.122901056, 174.4396, 2002, 1.7618190741043678, 2616.594), (4.61, 0.123151947, 175.2396, 2009, 2.0, 2093.2752), (4.61, 0.123346085, 172.5396, 2007, 1.7618190741043678, 3663.2316), (4.61, 0.205294827, 172.8396, 1998, 1.7618190741043678, 174.4396), (4.615, 0.101747034, 231.33, 1987, 3.0, 4660.6), (4.615, 0.101812521, 232.23, 2004, 1.0, 5126.66), (4.615, 0.102038294, 231.93, 2002, 1.7618190741043678, 2563.33), (4.615, 0.102407778, 234.33, 2007, 1.7618190741043678, 3961.51), (4.635, 0.14086247, 126.4994, 2004, 1.0, 1670.4922), (4.635, 0.140889111, 127.0994, 1997, 1.0, 1927.491), (4.635, 0.141108156, 128.2994, 1999, 2.0, 2698.4874), (4.635, 0.141174838, 127.0994, 2002, 1.7618190741043678, 2826.9868), (4.635, 0.141686037, 126.9994, 2007, 1.7618190741043678, 1798.9916), (4.785, 0.092516598, 120.1098, 1987, 3.0, 1325.6078), (4.785, 0.092576144, 121.0098, 2004, 1.0, 2530.7058), (4.785, 0.092781435, 119.7098, 2002, 1.7618190741043678, 1807.647), (4.785, 0.09297084, 122.0098, 2009, 2.0, 2048.6666), (4.785, 0.0931174, 118.6098, 2007, 1.7618190741043678, 361.5294), (4.805, 0.0, 123.9704, 2002, 1.7618190741043678, 2253.0672), (4.805, 0.037668051, 126.7704, 1987, 3.0, 2628.5784), (4.805, 0.037699423, 125.5704, 1997, 1.0, 3880.2824), (4.805, 0.037852995, 126.2704, 2009, 2.0, 3629.9416), (4.88, 0.0, 53.1298, 2004, 1.0, 808.947), (4.88, 0.133382115, 55.0298, 1987, 3.0, 647.1576), (4.88, 0.133700752, 52.9298, 1999, 2.0, 1995.4026), (4.88, 0.134037, 53.3298, 2009, 2.0, 539.298), (4.88, 0.223440258, 52.2298, 1998, 1.7618190741043678, 161.7894), (4.905, 0.117308165, 195.7768, 2004, 1.0, 2956.152), (4.905, 0.1175683, 197.6768, 2002, 1.7618190741043678, 2956.152), (4.92, 0.045916788, 198.8084, 1987, 3.0, 2976.126), (4.92, 0.045955031, 199.1084, 1997, 1.0, 2182.4924), (4.92, 0.046026479, 196.5084, 1999, 2.0, 3769.7596), (4.92, 0.046142232, 199.1084, 2009, 2.0, 4761.8016), (4.92, 0.046214971, 199.8084, 2007, 1.7618190741043678, 3968.168), (5.0, 0.0, 189.853, 2002, 1.7618190741043678, 4933.578), (5.0, 0.0, 190.453, 1998, 1.7618190741043678, 379.506), (5.0, 0.044004675, 188.853, 1997, 1.0, 5502.837), (5.03, 0.008639333, 122.2756, 1987, 3.0, 2059.9852), (5.03, 0.008644894, 122.6756, 2004, 1.0, 2665.8632), (5.03, 0.008664064, 119.3756, 2002, 1.7618190741043678, 605.878), (5.03, 0.014472516, 122.0756, 1998, 1.7618190741043678, 121.1756), (5.035, 0.0, 228.2036, 1997, 1.0, 4781.7756), (5.035, 0.079844043, 226.3036, 1987, 3.0, 4098.6648), (5.035, 0.080072603, 228.2036, 2002, 1.7618190741043678, 2504.7396), (5.035, 0.080362549, 229.0036, 2007, 1.7618190741043678, 4326.3684), (5.095, 0.129395895, 140.3838, 1987, 3.0, 1826.2894), (5.095, 0.129479176, 139.7838, 2004, 1.0, 1264.3542), (5.095, 0.129705008, 141.8838, 1999, 2.0, 1966.7732), (5.095, 0.129766301, 141.6838, 2002, 1.7618190741043678, 3231.1274), (5.095, 0.130031207, 142.4838, 2009, 2.0, 561.9352), (5.11, 0.0, 164.721, 2009, 2.0, 3588.662), (5.11, 0.034868095, 163.821, 2004, 1.0, 2120.573), (5.11, 0.034874689, 161.721, 1997, 1.0, 2446.815), (5.11, 0.034945416, 161.121, 2002, 1.7618190741043678, 2609.936), (5.11, 0.035071955, 163.221, 2007, 1.7618190741043678, 2773.057), (5.15, 0.0, 122.9388, 2007, 1.7618190741043678, 2105.2596), (5.15, 0.06112617, 122.5388, 1987, 3.0, 371.5164), (5.15, 0.061165512, 125.6388, 2004, 1.0, 2848.2924), (5.15, 0.06117708, 121.8388, 1997, 1.0, 3219.8088), (5.15, 0.061272194, 125.6388, 1999, 2.0, 1733.7432), (5.15, 0.061301149, 122.1388, 2002, 1.7618190741043678, 2352.9372), (5.15, 0.10239789, 122.1388, 1998, 1.7618190741043678, 495.3552), (5.155, 0.083198341, 246.0776, 1997, 1.0, 990.7104), (5.155, 0.083327693, 247.2776, 1999, 2.0, 5944.2624), (5.175, 0.029471408, 105.4622, 1987, 3.0, 3281.7282), (5.175, 0.029490377, 107.6622, 2004, 1.0, 2858.2794), (5.175, 0.029555773, 105.9622, 2002, 1.7618190741043678, 1693.7952), (5.175, 0.029616108, 107.7622, 2009, 2.0, 2011.3818), (5.175, 0.029662795, 105.2622, 2007, 1.7618190741043678, 2328.9684), (5.175, 0.030330202, 35.4874, 1987, 3.0, 388.1614), (5.175, 0.030349723, 37.0874, 2004, 1.0, 423.4488), (5.175, 0.030479118, 33.2874, 2009, 2.0, 635.1732), (5.175, 0.030527166, 33.5874, 2007, 1.7618190741043678, 635.1732), (5.175, 0.03736783, 86.9224, 1987, 3.0, 255.6672), (5.175, 0.037391881, 83.2224, 2004, 1.0, 1789.6704), (5.175, 0.037398953, 84.2224, 1997, 1.0, 852.224), (5.175, 0.037457098, 83.4224, 1999, 2.0, 1448.7808), (5.175, 0.04937018, 106.7622, 1998, 1.7618190741043678, 211.7244), (5.175, 0.050808821, 33.6874, 1998, 1.7618190741043678, 70.5748), (5.19, 0.042687151, 195.911, 1999, 2.0, 2946.165), (5.19, 0.042707323, 197.811, 2002, 1.7618190741043678, 2946.165), (5.19, 0.042861968, 196.811, 2007, 1.7618190741043678, 3731.809), (5.19, 0.044252621, 102.599, 1997, 1.0, 1651.184), (5.19, 0.044321422, 103.899, 1999, 2.0, 2889.572), (5.19, 0.044432887, 102.899, 2009, 2.0, 1651.184), (5.21, 0.011007815, 259.5962, 2004, 1.0, 2848.9582), (5.21, 0.011072173, 257.8962, 2007, 1.7618190741043678, 4402.9354), (5.26, 0.02454694, 95.7068, 1999, 2.0, 1166.4816), ...]

[8523 rows x 0 columns]